<%- include("../partials/header") %>

<div class="container-fixed">
    <h1>Sarahtonin Designs</h1>
</div>
<div class="container-fixed" id="projectsContainer">
    <!-- <h2>Recent Work</h2> -->
    <div class="container ">
        <div class="row">
            <!-- for loop to iterate over projects and make a card for each one -->
            <!-- Display index image -->
            <!-- Display project name -->
            <!-- Ability to click -> show page with more photos/info about project -->
            <% for (let i = 0; i < projects.length; i++){ %>
            <div class="col-md-3 col-sm-6">
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <a href="/projects/<%= projects[i]._id %>"></a>
                            <img class="card-img-top" src="<%= projects[i].images[0] %>" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><%= projects[i].name %></h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>